* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

.page-content {
  display: flex;
}

.banner {
  position: relative;
  left: -80px;
}

.paralelograma {
  position: absolute;
  left: 650px;
  width: 200px !important;
  height: 1000px;
  background-color: white;
  -webkit-transform: skew(7deg);
  -moz-transform: skew(7deg);
  -o-transform: skew(7deg);
}

@media only screen and (max-width: 896px) {
  body {
    overflow-y: auto;
  }

  .banner {
    width: auto;
  }

  .page-content {
    height: 600px !important;
  }

  .paralelograma {
    visibility: hidden;
  }
}

.form-container {
  position: relative;
  left: -300px !important;
  background-color: white;
  width: 2000px;
  height: 900px;
}

.title {
  color: #4d2480;
  position: relative;
  top: 60px;
  left: 500px;
  font-size: 30px;
  font-weight: 700;
  font-family: montserrat, sans-serif;
}

@media only screen and (max-width: 896px) {
  .form-container {
    position: relative;
    left: -960px !important;
    top: 290px;
    padding: 70px;
    padding-top: 0px;
    background-color: white;
    border-radius: 20px;
    width: 300px !important;
    height: 400px;
  }

  .title {
    top: 20px;
    left: 40px;
    margin-bottom: -10px;
  }
}

.thanks {
  position: relative;
  top: 150px;
  left: 200px;
  width: 250px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  font-family: montserrat, sans-serif;
  color: #4d2480;
}

.community-btn {
  position: relative;
  top: 230px;
  left: 230px;
  background-color: #28d468;
  height: 60px;
  width: 200px;
  border: none;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  
}

.community-btn:hover {
 transform: scale(1.2);
}

.social-media {
  position: relative;
  top: 380px;
  left: 240px;
  color: #4d2480;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-media a {
  margin-left: 0px;
  margin-right: 20px;
}

.social-media a:hover {
  transform: scale(1.5);
}

.copyright {
  position: relative;
  top: 430px;
  left: 235px;
  font-size: small;
  color: rgb(191, 190, 190);
}

@media only screen and (max-width: 896px) {
  .thanks {
    position: relative;
    top: 100px;
    left: 0;
    font-size: 25px;
    width: 200px;
    font-weight: 700;
    text-align: center;
    font-family: montserrat, sans-serif;
    color: #4d2480;
  }

  .community-btn {
    position: relative;
    top: 140px;
    background-color: #28d468;
    height: 70px;
    width: 200px;
    border: none;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    padding: 10px;
  }

  .social-media {
    top: 200px;
    left: 10px;
  }

  .display-social {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .social-media a {
    margin-left: -10px !important;
    margin-right: 0px;
  }

  .social-media a:hover {
    transform: scale(1);
  }

  .copyright {
    top: 450px;
    left: 10px;
  }
}
